@model Finance_29Mar.Models.valLogin
@{
    ViewData["Title"] = "Login";
}

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <form class="form-horizontal" asp-action="Login">
                    <h1>Login</h1>
                    <div class="form-group">
                        <lable class="control-label">UserName</lable>
                        <input asp-for="lUN" class="form-control" type="text" />
                    </div>
                    <div class="form-group">
                        <lable class="control-label">Password</lable>
                        <input asp-for="lpwd" class="form-control" type="password" />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-group-sm btn-primary"  value="Login" />
                    </div>
                    <div>
                        <a asp-controller="finance" asp-action="ForgotPassword">Forgot Password?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @{
        if (TempData["msg"] != null)
        {
            <script>
                    alert('@TempData["msg"]')
            </script>
        }
    }
    <div>
        New member? <a class="text-dark" asp-area="" asp-controller="Finance" asp-action="Register">Register Here</a>
    </div>
    <div>
        <a asp-action="Index">Back to Home Page</a>
    </div>

</body>