
@{
    ViewData["Title"] = "Content";
}

<h1>Welcome to Zensar Finserv</h1>

    <p>
        The <span style="color:coral">Zensar Finserv EMI Network Card</span> lets you pay for your purchases in affordable EMIs.
        You can use it to shop for products worth up to Rs. 4 lakh on easy EMIs.
    </p>
    <p><b>Here's how you can shop with the Bajaj Finserv EMI Network Card:</b></p>

    <p>
        <b>Steps to shop on the EMI Store</b>
        <br />1. Log in to the EMI Store with your registered mobile number<br /> 2. Select your product and a convenient repayment duration<br /> 3. Enter your delivery address <br />4. Finalise your purchase with an OTP
    </p>
    <p>
        You can use the Bajaj Finserv EMI Network Card to shop for electronics like <span style="color:coral">
            television, laptops, mobile phones, cameras,
        </span>etc. as well as home appliances like <span style="color:coral">air conditioners, refrigerators, washing machine, inverters, printers, water purifier,</span> and more.
        Not just this, you can also use your EMI Network Card to shop for trendy home décor, the latest fashion and a million other products on easy EMIs.
    </p>
    <div>
        <a asp-action="Index">Back to Home Page</a>
    </div>

