@model IEnumerable<FinancePrj.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}

<h1>Finance Management System</h1>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FMS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Cost</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prod in Model)
        {
            <tr>
                <td>@prod.ProductId</td>
                <td>@prod.ProductName</td>
                <td>@prod.ProductCost</td>
            </tr>
        }
    </tbody>
</table>
<div>
    Note:<br />
    <b>Eligibility</b> : Everyone who has a credit card
    <br />
    <b>Charges For Card Subscription:</b>
    Gold: 5000/- Titanium: 9000/- 
</div>

